 .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header Header Header"
      ". AreaRegistro AreaRegistro AreaRegistro AreaRegistro ."
      ". AreaRegistro AreaRegistro AreaRegistro AreaRegistro ."
      ". AreaRegistro AreaRegistro AreaRegistro AreaRegistro ."
      ". AreaRegistro AreaRegistro AreaRegistro AreaRegistro ."
      ". AreaRegistro AreaRegistro AreaRegistro AreaRegistro ."
      "Footer Footer Footer Footer Footer Footer";
  }
  
  .Header { grid-area: Header; }
  
  .AreaRegistro { grid-area: AreaRegistro; }
  
  .Footer { grid-area: Footer; }
  



p.small{
  align-items: flex-end;
  margin-left: 40%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: small;
}

label.normalRegistro {
  align-items: center;
  margin-left: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: large;
}

label.normal {
  align-items: center;
  margin-left: 25%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: large;
}

.Terms{
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: large;
}

   
h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: xx-large;
}
body {
    background-color: #003566;
  }

.AreaRegistro{
    border-radius: 25px;
    background-color: #001D3D;
}

  .AreaLogin{
    border-radius: 25px;
    background-color: #001D3D;
    margin: auto;
    width: 40%;
    margin-top: 10%;
    height: 415px;
}

div.center{
  text-align: center;
}

#Email,.inputContainer{
  width:60%;
  height:30px;
}


.camposFormulario{
  padding: 5%;
  font-family: 'Lato', sans-serif;
}

.inputCont{
  align-items: center;
  margin-left: 25%;
  width: 50%;
  height: 25px;
}

p.smallText{
  align-items: flex-end;
  margin-left: 85%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: small;
}

.link{
  color: blue;
}

.boton-continuar {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  font-family: 'Lato', sans-serif;
}

.btnContinue {
text-align: center;
margin-top: 1%;
}


@media only screen and (max-width: 380px) {
  .AreaLogin{
    border-radius: 25px;
    background-color: #001D3D;
    margin: auto;
    width: 80%;
    margin-top: 10%;
    height: 415px;
    }

    p.smallText{
      transform: translate(-217%);
      font-family: 'Lato', sans-serif;
    }
  }

@media only screen and (max-width: 430px) {
  .AreaLogin{
     border-radius: 25px;
    background-color: #001D3D;
    margin: auto;
    width: 90%;
    margin-top: 10%;
    height: 405px;
  }

  p.smallText{
    transform: translate(-205%);
    font-family: 'Lato', sans-serif;
  }
}

@media only screen and (max-width: 550px) {
  .AreaLogin{
    border-radius: 25px;
    background-color: #001D3D;
    margin: auto;
    width: 70%;
    margin-top: 10%;
    height: 400px;
    }
}

@media only screen and (max-width: 950px) {
  .AreaLogin{
    border-radius: 25px;
    background-color: #001D3D;
    margin: auto;
    width: 70%;
    margin-top: 10%;
    height: 415px;
    }

    p.smallText{
      margin-left: 80%;
    }

}

.text-muted{
  text-align: center;
}

.text-reset{
  color: rgb(170, 170, 170);
  font-family: 'Lato', sans-serif;
}

.text-reset:hover{
  color: dodgerblue;
}

.textoSolicitud{
  color: white;
}

.AreaLogin2{
  background-color: #001D3D;
  margin: auto;
  width: 40%;
  margin-top: 10%;
  height: 320px;
}

.padre {
  background: yellow;
  height: 150px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  background: red;
  width: 120px;
}

.center2 {
  color: white;
}

.btnContinue2 {
  font-family: 'Lato', sans-serif;
}

.cuerpoLogin {
  background-color: #003566;
}